    * {
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
    }
    
    .container {
        display: flex;
        width: 90vw;
        border: 5px solid black;
    }
    
    .box {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 88vh;
        border: 2px solid red;
        color: black;
        cursor: pointer;
        flex: 0.5em;
        /* extra space */
        margin: 18px;
        position: relative;
        transition: all 2s;
        /* for box */
        border-radius: 58px;
    }
    
    .box.active {
        flex: 5;
    }
    
    .box.active h3 {
        opacity: 1;
        /* for text */
        transition: opacity 0.3s easy-in o.4s;
    }
    
    .box h3 {
        font-size: 25px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: 0;
        opacity: 0;
    }